.likesContainer > .myLikes{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.likesContainer > .noWorks{
    height: 10rem;
    width: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

/******************** Media Query ********************/

/* large mobile screen */
@media (max-width: 768px) {
    .likesContainer > .myLikes{
        grid-template-columns: repeat(2, 1fr);
    }
}
  
/* extra small mobile screen */
 @media (max-width: 480px) {
    .likesContainer > .myLikes{
        grid-template-columns: repeat(1, 1fr);
    }
}